

body{
    background: #020202 url(../img/highlight.jpg) no-repeat center;
    font-family:Helvatica,Arial, "Times New Roman", Times, serif;
    font-size:12px;
    color:#bb5544;
    margin:0;
    padding:0;
    line-height:1.5em;
}

#capa{
    width:960px;
    margin:0 auto;
    margin-top:0px;
    padding-top:50px;
}
 
a{
    color:#bb5544;
    text-decoration:none;
}

a:hover{
    color:#666;
    text-decoration:underline;
}

h1{
    font-size:18px;
    color: #bb5544;
    text-transform:capitalize;
    line-height:28px;
    text-align:left;
}	  

h2{
    font-size:18px;
    color: #bb5544;
    text-transform:capitalize;
    line-height:20px;
    text-align:left;
}	

h3{
    font-size:24px;
    color: #bb5544;
    text-transform:capitalize;
    line-height:28px;
    text-align:left;
}	

hr{

-moz-border-bottom-colors: none;
-moz-border-img: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: #000000 #000000 #333333;
border-style: solid;
border-width: 1px;
clear: both;
display: block;
margin: 24px 0;
padding: 0;
width: 100%;
}

img{

border:none;
float:left;
margin-top:5px;
}

p{

font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-align:justify;
line-height:18px;
color:#CCC;
}

.ajuste{

 clear:both;
 visibility:hidden;
 height:0;
}

.nomargingright{

 margin-right:0px !important;
}

#cuerpo{

 width:100%;
 float:left;
 position:relative;
 padding-top:55px;
}	

#logo {

position: absolute;
z-index: 100;
width:230px;
height:64px;
margin-top:-65px;
}

#logo a {

background:url(../images/logo.png) no-repeat;
display: block;
height:64px;
margin: 0px 0 0;
padding: 0;
text-decoration: none;
width:230px;
}



#logo a span {

display: none;
}

#contenido {

width: 960px;
box-shadow: 0 0 10px #000000;
float: left;
margin:0px;
padding:0px;
z-index:50;
}

#parteizq{

    width:360px;
    float:left;
    height:589px;
    background:#333;
    padding-bottom:20px;
}

#parteder{

    width:600px;
    float:left;
}

#navegacion {

float: right;
height: 40px;
left:692px;
margin: 0 0px 0 0px;
position: absolute;
top:31px;
z-index:400;
width: 271px;
}

.nav {

list-style-type: none;
margin: 0;
padding: 0;
float:right;
}

.nav ul {

margin: 0;
padding: 0;
}

.nav li {

display: block;
float: left;
list-style-type: none;
}

.nav li a {

float: left;
padding:0px 13px 0px 13px;
}

.nav li a:hover {

color:#666;
text-decoration:none;
}

.nav li a.active {

color:#666;
text-decoration:none;
}

.nav li a span {

line-height:16px;
}

.tituloprincipal{

width:280px;
float:left;
border-top:#606060 1px solid;
line-height:22px;
margin:40px 0px 0px 40px;
padding:15px 0px 0px 0px;
}

.princ_descripcion{

    width:280px;
    float:left;
    border-top:#606060 1px solid;
    line-height:22px;
    margin:25px 0px 0px 40px;
    padding:10px 0px 0px 0px;}

.hobbies{

    width:280px;
    border-top:#606060 1px solid;
    line-height:22px;
    margin:20px 0px 0px 40px;
    padding:10px 0px 0px 0px;
}

.hobbies ul{

    width:100%;
    list-style:none;
    float:left;
}

.hobbies ul li{

    width:100%;
    float:left;
    list-style:none;
}

.hobbies ul li a{
  
    float:left;
    text-decoration: none;
    color:#CCC;
    /* display:inline; */
}		

.hobbies ul li a:hover{

    float:left;
    text-decoration: underline;
    color:#bb5544;
}	

.sobremi{

    width:280px;
    float:left;
    border-top:#606060 1px solid;
    line-height:22px;
    margin:25px 0px 0px 40px;
    padding:10px 0px 0px 0px;
}

#footer{

    float: left;
    left: 0;
    padding: 40px 0 0;
    width: 100%;
    z-index: 100; margin-bottom: 20px;
}	

#footer p{

font-size:11px;
text-align:center;
line-height:22px;
}	

#footer span{

width:960px;
margin:0 auto;
display:block;
padding-top:0px;
}		

