

body{
    background: #020202 url(../img/highlight.jpg) no-repeat center;
    font-family:Helvatica,Arial, "Times New Roman", Times, serif;
    font-size:12px;
    color: #fff;
    margin:0;
    padding:0;
    line-height:1.5em;
}

#capa{
    width:960px;
    margin:0 auto;
    margin-top:0px;
    padding-top:50px;
}
 
a{
    color:#bb5544;
    text-decoration:none;
}

a:hover{
    color:#666;
    text-decoration:underline;
}

h1{
    font-size:18px;
    color: #bb5544;
    text-transform:capitalize;
    line-height:28px;
    text-align:left;
}	  

h2{
    font-size:18px;
    color: #e37c32;
    text-transform:capitalize;
    line-height:20px;
    text-align:left;
}	

h3{
    font-size:24px;
    color: #e37c32;
    text-transform:capitalize;
    line-height:28px;
    text-align:left;
}	

hr{

-moz-border-bottom-colors: none;
-moz-border-img: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: #000000 #000000 #333333;
border-style: solid;
border-width: 1px;
clear: both;
display: block;
margin: 24px 0;
padding: 0;
width: 100%;
}

img{

border:none;
float:left;
margin-top:5px;
}

p{

font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-align:justify;
line-height:18px;
color:#CCC;
}

.ajuste{

 clear:both;
 visibility:hidden;
 height:0;
}

.nomargingright{

 margin-right:0px !important;
}

#cuerpo{

 width:100%;
 float:left;
 position:relative;
 padding-top:55px;
}	

#logo {

position: absolute;
z-index: 100;
width:230px;
height:64px;
margin-top:-65px;
}

#logo a {

background:url(../img/logo.png) no-repeat;
display: block;
height:64px;
margin: 0px 0 0;
padding: 0;
text-decoration: none;
width:230px;
}



#logo a span{

display: none;
}

#contenido{

width: 960px;
box-shadow: 0 0 10px #000000;
float: left;
margin:0px;
padding:0px;
z-index:50;
}

#principal{

width:100%;
float:left;
background: #333;

}

.habilidades{
    width:270px;
    float: right;
    margin-top: 75px;
    margin-bottom: 20px;

}

.habilidades .bloque_habs {
    width: 100%;
}

.habilidades_ic{
    display:block;
    padding-top:15px;
}

.habilidades_nom{
    display:block;
}

.habilidades_sta{
    float:left;
    width:100%;
    padding-bottom: 8px;
    border-bottom: #666 1px dotted;
}

.estrella {

    display:block;
    padding-right: 7px;
}

.pagsobremi{
    
    width:930px;
    float:left;
    padding: 15px 0px 0px 0px;
    margin: 1px 0px 0px 15px;

}

.eddsobremi{
    width:630px;
    float:left;
    padding-bottom:20px;
}



#parteizq{

    width:360px;
    float:left;
}

#parteder{

    width:600px;
    float:left;
}

#navegacion {

float: right;
height: 40px;
left:692px;
margin: 0 0px 0 0px;
position: absolute;
top:31px;
z-index:400;
width: 271px;
}

.nav {

list-style-type: none;
margin: 0;
padding: 0;
float:right;
}

.nav ul {

margin: 0;
padding: 0;
}

.nav li {

display: block;
float: left;
list-style-type: none;
}

.nav li a {

float: left;
padding: 0px 10px 0px 13px;
}

.nav li a:hover {

color: #fff;
text-decoration:none;
}

.nav li a.active {

color:#666;
text-decoration:none;
}

.nav li a span {

line-height:16px;
}

.tituloprincipal{

width:280px;
float:left;
border-top:#606060 1px solid;
line-height:22px;
margin:40px 0px 0px 40px;
padding:15px 0px 0px 0px;
}

.envio{
    width: 75px;
    height: 28px;
    float: left;
    background: url(../img/send_btn.png) no-repeat;
    text-align: center;
}

.envio a{
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    color: #FFF;
}

.envio a:hover{
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    color: #bb55;
}

.princ_descripcion{

    float:left;
    border-top:#606060 1px solid;
    line-height:22px;
    margin:25px 0px 0px 40px;
    padding:10px 0px 0px 0px;}

.hobbies{

    width:280px;
    border-top:#606060 1px solid;
    line-height:22px;
    margin:20px 0px 0px 40px;
    padding:10px 0px 0px 0px;
}

.hobbies ul{

    width:100%;
    list-style:none;
    float:left;
}

.hobbies ul li{

    width:100%;
    float:left;
    list-style:none;
}

.hobbies ul li a{
  
    float:left;
    text-decoration: none;
    color:#CCC;
    /* display:inline; */
}		

.hobbies ul li a:hover{

    float:left;
    text-decoration: underline;
    color:#bb5544;
}	

.sobremi{

    width:280px;
    float:left;
    border-top:#606060 1px solid;
    line-height:22px;
    margin:25px 0px 0px 40px;
    padding:10px 0px 0px 0px;
}

#footer{

    float: left;
    left: 0;
    padding: 40px 0 0;
    width: 100%;
    z-index: 100; margin-bottom: 20px;
}	

#footer p{

font-size:11px;
text-align:center;
line-height:22px;
}	

#footer span{

width:960px;
margin:0 auto;
display:block;
padding-top:0px;
}		

.pagcontacto{
    width: 930px;
    float:left;
    padding: 15px 0px 0px 0px;
    margin: 1px 0px 0px 15px;
}

.objcontacto{
    width:630px;
    float:left;
    padding-bottom:20px;
}

.gris{
    width:900px;
    height:22px;
    background: #262626;
}

#atajo{
    width: auto;
    float: right;
}

#atajo ul{
    width: 100%;
    float: right;
}

#atajo ul li{
    float:left;
    list-style: none;
    padding-left: 5px;
    font-size: 11px;
}

#atajo ul li a{
    color: #bb55;
    font-size: 11px;
    text-decoration: none;

}

#atajo ul li a:hover{
    color: #999;
    text-decoration: underline;

}

.bar-contacto{
    width: 270px;
    float: right;
    margin-top: 75px;
    margin-bottom: 20px;

}

#direcciones{
    width: 100%;
}

#direcciones ul{
    width: 100%;
    margin-top:15px;
}

#direcciones ul li{
    list-style:none;
    padding-bottom: 8px;
}

.controlbloq{
    display: block;
    clear: left;
    position: relative;
}

.controlbloq input {
    width: 270px;
    height: 40px;
    padding:  0px 0px 0px 30px;
    float: left;
    background: #262626;
    border: #666 1px solid;
    margin: 10px 0px 0px 0px;
    position:relative;
    color: #999;
}

.controlbloq textarea{
    width: 570px;
    height: 130px;
    padding: 20px 10px 0px 30px;
    background: #262626;
    clear: left;
    border: #666 1px solid;
    margin: 10px 0px 0px 0px;
    position: relative;
    color: #999;

}

.social-sharing {
	display: block;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
}

.social-sharing ul.menu-social {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrapwrap;
	flex-wrap: nowrap;
}

.social-sharing ul.menu-social li {
	flex: 0 1 40px;
	height: 40px;
}
.social-sharing ul.menu-social li.newsletter {
	flex: 1 1 auto;
	line-height: 40px;
	position: relative;
	background-color: #fafafa;
	background-image: repeating-linear-gradient(135deg, #ffe4e1 0px, #ffe4e1 5px, transparent 5px, transparent 10px, #e1f3ff 10px, #e1f3ff 15px, transparent 15px, transparent 20px);
}
.social-sharing ul.menu-social li.next {
	flex: 1 1 auto;
}
ul.menu-social li a::before {
	content: "\f135";
	display: inline-block;
	font-family: FontAwesome;
	font-size: 20px;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 40px;
}
ul.menu-social li a[href*="facebook.com"]::before {
	content: "\f09a";
}
ul.menu-social li a[href*="twitter.com"]::before {
	content: "\f099";
}
ul.menu-social li a[href*="pinterest.com"]::before {
	content: "\f231";
}
ul.menu-social li a[href*="web.whatsapp.com"]::before {
	content: "\f232";
}
